.my-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
  display: inline-block;
  width: 120px;
  text-align: center;
}

.my-btn:hover {
  background-color: #3367d6;
  border-radius: 20px;
}
