.dialogOutBackgroud {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.dialog {
  position: relative;
  min-width: 60vw;
  min-height: 40vh;
  border-radius: 10px;
  background-color: var(--color-bg-card);
  padding: 1rem;
  max-height: 90vh;
  overflow: scroll;
}

.buttonClose {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}