:root {
  /* Общие цвета приложения */
  --color-bg-dark: #121212;
  --color-bg: #404040;
  --color-bg-card: #5e5e5e;
  --color-text: #f0f0f0;
  --color-text-muted: #bbbbbb;
  --color-border: #666666;
  --color-placeholder: #bbbbbb;
  --color-border-focus: #999999;
  --color-disabled-bg: #333333;
  --color-disabled-text: #999999;
  --color-success: #46e856ff;
  --color-pinned: #f9f9f9;

  /* danger color */
  --color-danger: hsl(0, 60%, 53%);
  --color-danger-bg: #603b3b;
  --color-danger-bg-hover: #6b2f2f;
  --color-danger-text: #ffdddd;

  /* default button */
  --btn-default-bg: var(--color-bg);
  --btn-default-text: var(--color-text);
  --btn-default-border: var(--color-border);

  /* accent button */
  --btn-accent-bg: #5a5a5a;
  --btn-accent-text: #f9f9f9;
  --btn-accent-border: #888888;

  /* icon button */
  --btn-icon-bg: transparent;
  --btn-icon-text: var(--color-text-muted);
  --btn-icon-border: transparent;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* ! musor */
.widget-list {
  position: fixed;
  border: var(--border-color);
  border-radius: 15px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  overflow-y: auto;
  background-color: var(--card);
}

.widget {
  flex: 0 0 46px;
  border-radius: 15px;
  width: 44px;
  height: 44px;
  background-color: var(--border-color);

  align-items: flex-start;
  justify-content: center;
  margin: 0px auto;
  transition: 0.3s ease-in-out;
}

.widget img {
  border-radius: 50%;
}

.widget:hover {
  background-color: antiquewhite;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Адаптивность */
@media (max-width: 768px) {
  .notes-container {
    grid-template-columns: 1fr;
  }
}